<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Swap</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/swap.css') }}">
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-0evHeTauVdejhmHA2wnMfK3j7l/C6+QpRoxmN1RzpPuFdJf4M7JfrPJv9K4Ry/hJ"
        crossorigin="anonymous"></script>
</head>

<body>
    <div class="container" style="width: 1000px;">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg bg-light navbar-light ">
            <!-- Container wrapper -->
            <div class="container-fluid">


                <img class="navbar-brand" src="/static/images/logo2.png" alt=""></a>

                <!-- Toggle button -->
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>

                <!-- Collapsible wrapper -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                        <!-- Link -->
                        <li class="nav-item">
                            <a class="nav-link" href="/dashboard">My Profile</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="/marketplace">Marketplace</a>
                        </li>

                    </ul>

                    <!-- Icons -->
                    <ul class="navbar-nav d-flex flex-row align-items-center">
                        <li class="nav-item me-3 me-lg-0">
                            <img class="imgNav" src="{{ url_for('static', filename='images/notification.png') }}">
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Logout</a>
                        </li>
                    </ul>

                </div>
            </div>
            <!-- Container wrapper -->
        </nav>
        <!-- Navbar -->
        <!-- Swap Cards -->
        {% for swap in swaps %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-5 d-flex flex-column justify-content-center align-items-center p-2">
                    <img src="{{ url_for('static', filename='images/' + swap.game1.image) }}"
                        class="img-fluid rounded-start" alt="{{ swap.game1.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ swap.game1.name }}</h5>
                        <p class="card-text">{{ swap.user1.username }}</p>
                    </div>
                </div>
                <div class="col-md-2 d-flex flex-column align-items-center justify-content-center">
                    {% if swap.status == 1 %}
                    <span class="badge bg-warning text-dark">Pending</span>
                    {% if swap.user1.id == user.id %}
                    <div class="mt-2">
                        <a href="/swap/{{ swap.id }}" class="btn btn-success">Accept</a>
                        <button type="button" class="btn btn-danger">Refuse</button>
                    </div>
                    {% endif %}
                    {% elif swap.status == 0 %}
                    <span class="badge bg-danger">Refused</span>
                    {% endif %}
                </div>
                <div class="col-md-5 d-flex flex-column justify-content-center align-items-center p-2">
                    <img src="{{ url_for('static', filename='images/' + swap.game.image) }}"
                        class="img-fluid rounded-end" alt="{{ swap.game.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ swap.game.name }}</h5>
                        <p class="card-text">{{ swap.user.username }}</p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>

</html>