*{
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-image: url('/static/images/background2.png');
    background-size: cover;
}



.user_img{
    height: 21vh;
    width: 11vw;
}

.div_image{
    width: 5rem; /* I took the width from your post and placed it in css */
    height: 5rem;
}

.game_image{
    height: 100%;
    width: 100%;
    object-fit: scale-down;
}